*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Mardoto-Regular';
  font-display: swap;
  src: url('./assets/fonts/Mardoto-Regular.woff2') format('woff2'), url('./assets/fonts/Mardoto-Regular.woff2') format('woff2');
  font-weight: 400;
}
body{
  margin-top: 30px;
  font-family: 'Mardoto-Regular';
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F5F5F6; 
}
::-webkit-scrollbar-thumb {
  background: #E1E1E1; 
}
::-webkit-scrollbar-thumb:hover {
  background: #E1E1E1; 
}
.container{
  max-width: 728px;
  width: 100%;
  margin: 0 auto;
}
.touchable-icon{
  cursor: pointer;
}